<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Welcome</title>
    <link href="./static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/cover.css" rel="stylesheet">
</head>
<body class="text-center">
    <div class="container">
        <div class="card-deck mb-3">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal text-center">Predicting the Number of Injuries for Traffic Accidents in Chicago</h4>
            </div>
            <div class="card-body">
                <p>Welcome. This app predicts the number of injuries for traffic accidents in the city of Chicago. Input the requested details of the accident and the number of injured will be predicted by our machine learning algorithm.</p>

                <form action="questions">
                    <button class="btn btn-primary btn-block" type="submit">Get Started</button>
                    <a class="btn btn-secondary" href="https://github.com/jkh-code/predicting-traffic-accident-injuries#predicting-the-number-of-traffic-accident-injuries-in-chicago" target="_blank" rel="noopener noreferrer"role="button">About</a>
                </form>
            </div>
        </div>
    </div>
</body>
</html>